* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    
}

/* body {
  background-color: #1111;
  background-image: url("/bg-2.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
} */
    /* background-color: rgba(0, 0, 0, 0.9); */
body {

  background-color: #3f3f46;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #18181b;
  /* background-color: rgba(24, 24, 27, 0.75); */
  backdrop-filter: blur(19px) saturate(180%) contrast(45%) brightness(130%);
  /* border-radius: 12px; */
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
  display: flex;
}